/*Tipos de letra*/
.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
/*Tipos de letra*/

.title {
    text-align: center;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}
table {
    margin: 10px;
    text-align: center;
}
.teams_container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    margin: 0 25% 0 25%;
}
.group_stage_container {
    display: grid;
    justify-content: left;
}
.quarter_finals_container {
    display: grid;
    justify-content: left;
}
.semi_finals_container {
    display: grid;
    justify-content: left;
}
.final_phase_container {
    display: grid;
    justify-content: left;
}
.winner_container {
    display: grid;
    justify-content: left;
}
.final_container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 25% 0 25%;
}